<%= link_to repo_path(repo['name']), class: 'repo', data: {
  action: 'click->projects#click',
  projects_target: 'project_links',
  name: repo['name'],
  link: repo['url']
} do %>
    <h4><%= repo['name'] %></h4>
<% end %>
