<div>
  <%= link_to '', class: 'repo', data: {
    action: 'click->projects#click',
    projects_target: 'project_links',
    url: repo['url']
  } do %>
    <div>
      <h4><%= repo['name'] %></h4>
      <p><%= repo['description'] %></p>
    </div>
  <% end %>
</div>