<div class="div" data-controller="scroll">
<%= render 'navbar', user: @user %>
  <div class="hero__container container" data-controller="name" data-scroll-target="home" id='home'>
    <%= render 'hero', locals: { user: @user, cv: @cv } %>
  </div>
  <div class="container" data-scroll-target="projects" id='projects'>
    <%= render 'projects' %>
  </div>
  <div class="container">
    <%= render 'about-me' %>
  </div>
</div>