<div id="about__container" class="about__container">
  <h2>About me</h2>
  <div id="about__me" data-about-target="about_me">
    <%= render 'shared/loader' %>
  </div>
  <div class="icons__container" data-about-target="icons">

  </div>
</div>