<div data-scroll-target="set_about_me">
  <h2>About me</h2>
  <div class="about-me__container" id="about__me" data-about-target="about_me">
    <%= render 'shared/loader' %>
  </div>
  <div class="icons__container" data-about-target="icons">
  </div>
</div>