<div class="information__container">
  <section>
    <div class="information__title">
      <h2 >Hello, My name is</h2>
      <div>
        <h1 class="hero__name" data-name-target="name"><%= user['name'] %></h1>
        <h1 class="information__about">About Me</h1>
      </div>
      <p><%= user['bio'] %></p>
    </div>
    <div class="image__container" data-name-target="images">
      <%= link_to root_path, class: 'image__container', data: {
        action: 'click->scroll#scrollToSection',
        target: 'about-me',
      } do %>
        <div class="box"></div>
        <%= image_tag user['avatarUrl'], class: 'hero__image' %>
      <% end %>
    </div>
  </section>
</div>

