  <div class="d-none" data-name-target="name" ><%= name_list(@user['name']) %></div>
  <div>
    <div>
      <h2 class="hero__name">Hello, My name is
        <span class="name" data-name-target="replace">Jhon Doe</span>
      </h2>
      <p>
        <%= @user['bio'] %>
      </p>
      <%= link_to 'Know me !!', @cv, target: '_blank', class: cta %>
    </div>
  </div>
  <div class="image__container">
    <div class="box"></div>
    <%= image_tag @user['avatar_url'], class: 'hero__image' %>
  </div>
