
  <h2>Projects</h2>
  <div class="repos__container" data-controller="projects">
    <div class="repos">
      <% @user.repos.each do |repo| %>
        <%= render 'repos/repo', repo: repo %>
      <% end %>
    </div>
    <div class="selected__repo" data-projects-target="selected_repo">

    </div>
  </div>
