<div class="left_aside">
  <% user['socialAccounts']['nodes'].each do |social| %>
    <%= link_to social['url'], target: '_blank' do %>
      <%= social_icon(social['provider']) %>
     <% end %>
  <% end %>
</div>