<div class="right_aside">
<%= link_to root_path, class: nav__link, data: {
    action: 'click->scroll#scrollToSection',
    scroll_target: 'navlinks',
    scroll_open_value: false,
    target: 'home'
  } do %>
    home
  <% end %>
  <%= link_to root_path, class: nav__link, data: {
    action: 'click->scroll#scrollToSection',
    scroll_target: 'navlinks',
    scroll_open_value: false,
    target: 'projects'
  } do %>
    projects
  <% end %>
  <%= link_to root_path, class: nav__link, data: {
    action: 'click->scroll#scrollToSection',
    scroll_target: 'navlinks',
    scroll_open_value: false,
    target: 'about-me'
  } do %>
    about|me
  <% end %>
</div>