@import "colors";

.about__container {
  padding: 20px;
  #about__container {
    h2 {
      margin-top: 0;
      text-align: center;
    }
    .about-me__container {
      width: 100%;
      div strong {
        color: $primary_color;
      }
    }

    .icons__container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        margin: 5px;
        i {
          font-size: 40px;

        }
      }
    }

  }




}

//.icons__container {
//  width: 100%;
//  display: flex;
//  justify-content: center;
//  margin: 0 20px;
//}

