/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.hero__container {
    display: flex;
}

.hero__container div {
    width: 50vw;
}

.hero__name .span {
    opacity: 1;
    animation: fade-in 0.1s ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}