/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Fira+Code:wght@400;600&display=swap');
@import "colors";
@import "aside";

body {
  font-family: 'Fira Code', monospace;
  background-color: $back_ground_color;
  color: $font;
  margin: 0;
}

.portfolio__container {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  gap: 150px;
  grid-template-areas:
  'left_aside section__container right_aside'
}

.left_aside, .right_aside {
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  border-left: 0.5px solid $grey;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.error_message {
  display: inline-block;
  height: 100%;
  background-color: $redish;
  border-radius: 20px;
}

.invisible {
  opacity: 0;
  transition: opacity 1s ease, height 1s ease;
  pointer-events: none;
}
