/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Fira+Code:wght@400;600&display=swap');
@import "colors";

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px 0 150px;
  h2 {
    margin: 0;
    font-weight: 600;
  }
  .nav__link {
    color: white;
    text-decoration: none;
    span {
      display: inline-block;
      position: relative;
      font-size: 18px;
    }
    span::before {
      content: '#';
      color: $primary_color;
      padding-left: 20px;
    }
  }
}

.cta {
  text-decoration: none;
  color: $font;
  padding: 8px 20px;
  border: 1px solid $primary_color;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: $back_ground_color;
  color: $font;
}


.hero__container {
  margin-top: 80px;
  margin-left: 150px;
  display: flex;
}

.hero__container div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero__container div {
  width: 50vw;
}

.hero__image {
  border: 10px solid $font;
  border-radius: 50%;
  animation: fade-in 1s ease-in, blur-in 4.5s ease-in;

}

@keyframes blur-in {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes pixelate {
  0% {
    border-width: 100px;
  }
  100% {
    border-width: 10px;
  }
}

.hero__name .name {
  display: inline-block;
  opacity: 1;
  animation: fade-in 0.1s ease-in, scale-down 1s linear;
  color: $primary_color;
}

@keyframes fade-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-down {
  from {
    transform: scale(4);
  }
  to {
    transform: scale(1);
  }
}


.d-none {
  display: none;
}

.d-block {
  display: block;
}