@import "colors";

aside {
  position: sticky;
  top: 0;
  height: 100vh;
  .right_aside {
    margin-top: 100px;
    height: 80%;
    display: flex;
    justify-content: space-around;
    .nav__link {
      display: flex;
      color: $grey;
      text-decoration: none;
      font-size: 18px;
      transition: filter 0.3s ease-in-out;
      &:hover{
        filter: drop-shadow(0 0 5px $primary_color) blur(2px);
        transition: filter 0.3s ease-in-out;
      }
    }
    .active {
      color: $primary_color;
      pointer-events: none;
    }
  }
}
