@import "colors";

.hero__container {
  section {
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;

    p {
      color: $grey;
      margin: 0;
    }

    h1 {
      font-size: 50px;
    }
  }

  .image__container {
    position: relative;
    img {
      width: 100%;
      height: auto;
      display: block;
    }

    &:hover .box {
      width: 100%;
      background-color: red;
      transition: 0.5s ease;
    }

    .box {
      width: 20px;
      height: 20px;
      transition: 1s linear;
      background-color: yellow;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blur-in {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}
