@import "colors";

.hero__container {
  display: flex;

  div:nth-child(2) {
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;

    p {
      color: $grey;
      margin: 30px 0;
    }
  }

  div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    img {
      object-fit: cover;
    }
  }
  .image__container {
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    .box {
      z-index: 99999;
      width: 10px;
      height: 10px;
      background-color: $primary_color;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.hero__image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image__container:hover::before {
  content: "ABOUT ME";
  color: $redish;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  background-color: $primary_color;
  animation: slide-in 0.5s ease forwards, fade-out 1s ease forwards;
}

.image__container:hover .box {
  background-color: $redish;
  animation: slide-in 0.5s ease forwards, fade-out 1s ease forwards;
}

.hero__name .name {
  display: inline-block;
  opacity: 1;
  animation: fade-in 0.1s ease-in, scale-down 1s linear;
  color: $primary_color;
}

@keyframes blur-in {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes pixelate {
  0% {
    border-width: 100px;
  }
  100% {
    border-width: 10px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-down {
  from {
    transform: scale(4);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}