@import "colors";

/* Hero Container */
.hero__container {
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;

  .back-ground__bio{
    top: 0;
    z-index: -1;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    opacity: 0.025;
    position: absolute;
    font-size: 130px;
    pointer-events: none;
  }

  .left__triangle {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-left: 60px solid $grey;
  }

  .hero__box {
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: $grey;
  }

  .right__triangle {
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: 69px solid $back_ground_color;
    border-left: 69px solid $grey;
  }

  .information__container {
    max-width: 1091px;
    display: flex;
    align-items: center;
    align-content: center;

    .h2 {
      margin: 0;
      font-size: 1.8rem;
    }

    p {
      color: $grey;
      margin: 0;
      line-height: 3rem;
      width: 80%;
    }

    .border_right {
      border-right: 10px dashed $primary_color;
      transition: 0.3s ease;
    }

    .hero__name {
      font-size: 7rem;
      margin: 0;
      padding: 0;
      pointer-events: none;
      color: $primary_color;
      opacity: 1;
      width: 100%;
      transition: 1s ease;
    }

    .vanish {
      opacity: 0;
      transition: 1s ease;
    }

    h1 {
      color: $redish;
      font-size: 7rem;
      margin: 0;
      pointer-events: none;
    }
    .display_welcome {
      display: flex;
      .welcome, .learn__more {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .learn__more {
        opacity: 0;
        transition: 1s ease;
      }
      .replace {
        opacity: 1;
        transform: translateX(-100%);
        transition: 1s ease;
      }
    }

    div {
      position: relative;
      display: flex;

      .information__about {
        opacity: 0;
        transition: 1s ease;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      .replace {
        opacity: 1;
        transform: translateX(-100%);
        transition: 1s ease;
      }
    }
  }

  /* Section */
  section {
    .bio__container {
      display: flex;
      position: relative;

      .box {
        width: 20px;
        height: 20px;
        background-color: $redish;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 1s ease;
      }

      .stretch {
        width: 100%;
        height: 1px;
        background-color: $primary_color;
      }

      .stretch_up {
        width: 1px;
        height: 100%;
        background-color: $primary_color;
      }
    }
  }

  /* Image Container */
  .image__container {
    position: relative;
    width: 300px;
    height: 300px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

/* Animation Keyframes */
@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blur-in {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes blinked {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
