@import "colors";

.hero__container {
  height: 100vh;
  border-left: 1px solid $grey;
  display: grid;
  place-items: center;

  .information__container{
    //position: relative;
    //padding: 0 30px;
    width: 60vw;
    .information__title{
      //position: absolute;
      h2 {
        margin: 0;
        font-size: 1.8rem;
      }

      .hero__name {
        font-size: 7rem;
        margin: 0;
        pointer-events: none;
        color: $primary_color;
      }

      h1 {
        color: red;
      }
    }

    section {
      display: flex;
      align-items: center;
      p {
        color: $grey;
        margin: 0;
        line-height: 3rem;
        width: 80%;
      }

    }

    .image__container {
      position: relative;
      img {
        width: 100%;
        height: auto;
        display: block;
      }

      &:hover .box {
        width: 100%;
        height: 2px;
        background-color: $redish;
        transition: 0.5s ease;
      }


      .box {
        width: 20px;
        height: 20px;
        transition: 1s linear;
        background-color: $primary_color;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }



}

.image__container {
  background-color: #00f0ff;
  //color: red;
}

@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blur-in {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes blinked {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

//@media (min-width: 1501px) and (max-width: 1900px) {
//  .information__title {
//    top: -40px;
//  }
//}
//
//@media (min-width: 981px) and (max-width: 1500px) {
//  .hero__container {
//    .information__title {
//      bottom: 250px;
//      z-index: 2;
//    }
//  }
//}
//
//@media (max-width: 980px) {
//  .hero__container {
//    .information__title {
//      position: relative !important;
//    }
//  }
//}
