@import "colors";

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px 0 150px;
  h2 {
    margin: 0;
    font-weight: 600;
  }
  .nav__link {
    color: $grey;
    text-decoration: none;
    span {
      display: inline-block;
      position: relative;
      font-size: 18px;
    }
    span::before {
      content: '#';
      color: $primary_color;
      padding-left: 20px;
    }
  }
  .active {
    color: $font;
  }
}