@import "colors";

.project__container {
  height: 100vh;
  padding: 20px 0;
  border-left: 1px solid $grey;
  h2 {
    margin-top: 0;
    margin-left: 10px;
  }
  .repos__container {
    display: flex;
    .repo {
      text-decoration: none;
      div {
        color: $font;
        margin: 10px;
        width: 200px;
        padding: 10px;
        border: 1px solid $primary_color;
      }

    }
    .selected__repo{
      width: 100%;
    }
  }

  .inactive_link {
    pointer-events: none;
  }

}