@import "colors";

.project__container {
  height: 100vh;
  background-color: $grey;
  .bar {
    height: 100%;
    border-right: 1px solid $back_ground_grey;
  }

  h2 {
    margin-top: 0;
    margin-left: 10px;
  }
  .repos__container {
    display: grid;
    grid-template-columns: 16% 250px 1fr;
    grid-template-areas: 'bar repos selected__repo';
    .repos {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      .repo {
        text-decoration: none;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        h4 {
          color: $font;
          text-align: center;
          margin: 10px;
          width: 200px;
          padding: 10px;
          border-right: 2px solid $primary_color;
          border-bottom: 2px solid $primary_color;
        }
      }
    }
    .selected__repo {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 50px;
      .selected__readme {
        position: relative;
        border: 1px solid $font;
        padding: 50px;
        .top__triangle {
          width: 20px;
          height: 20px;
          background-color: $redish;
          position: absolute;
          top: 0;
          right: 0;
        }
        .readme {
          animation-name: readmeAnimation;
          animation-duration: 1s;
          animation-timing-function: ease;
        }
        .repo_link {
          text-decoration: none;
          color: $redish;
        }
      }

    }
  }

  .inactive_link {
    pointer-events: none;
  }

}

@keyframes readmeAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}